
    body {
      margin: 0;
      font-family: 'Inter', sans-serif;
      background-color: #F6FFF7;
      color: #2b4d2f;
      padding: 0;
      box-sizing: border-box;
    }
    *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    header {
      background-color: #34a853;
      color: #e9f8eb;
      background-image: url(images/vecteezy_hands-carefully-plant-a-young-tree-in-the-soil-symbolizing_65780925.jpg);
      background-size: cover;
      background-position: center;
      position: relative;
      overflow: hidden;
      height: fit-content;
     display: flex;
     flex-direction: column;
    align-items: center;
   justify-content: center;
    }
    .darkoverlay{
      background: #00000070;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 0;
      top: 0;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, .6), rgba(36, 53, 1, .8));
    }
    header .content{
      position: relative;
      z-index: 10;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    header .content nav{
      height: fit-content;
      background: #34a853;
      text-align: left;
      display: flex;
      padding: 25px 15px;
      justify-content: space-between;
      font-size: 23px;
    }
    
    .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b4d2f;
  color: white;
  padding: 1rem 1.5rem;
}
.side-nav{
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #2b4d2f;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.side-nav a {
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: #f1fdf2;
  display: block;
  transition: 0.3s;
}
.side-nav a i {
  margin-right: 10px;
}
.side-nav a:hover {
  background-color: #3e6b44;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 2rem;
  color: white;
}

    header .content .texts{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      padding: 20px 15px;
      padding-top: 80px;
      
    }
    header h1 {
      margin: 0;
      font-size: 45px;
      font-weight: 900;
      text-align: left;
    }
    header h1 span{
      text-wrap: nowrap;
    }
    header p {
      font-size: 1rem;
      margin-top: 0.5rem;
      
    }
    header .learn{
      background-color: #34a853;
border: none;
padding: 0.75rem 1.5rem;
font-size: 1rem;
color: white;
border-radius: 5px;
cursor: pointer;
margin-top: 1rem;
transition: background-color 0.3s ease;
display: flex;
align-items: center;
justify-content: center;
gap: 3px;
width: fit-content;
    }
    .hero-visual img{
      width: 100%;
      z-index:10;
    }
    section {
      padding: 2rem 0rem;
      max-width: 900px;
      margin: auto;
    }
    
    .highlight {
      background-color: #d0f0d7;
      border-radius: 10px;
      margin-bottom: 2rem;
      overflow: hidden;
      margin: 0rem 1rem;
    }
    section .highlight img{
      width: 100%;
    }
    section .highlight .content{
      padding: 1.5rem;


    }
    .section-title {
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 0.7rem;
      display: flex;
      align-items: center;
      color: #34a853;
      gap: 4px;
      margin: 20px 0px;
    }
    .highlight .content .icon{
      display: flex;
      width: 80px;
      height: 80px;
      background: #FFFFFF;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
    }
    .highlight .content .icon svg{
      width: 50px;
      color: #34a853;
    }
    .we{
      padding: 1rem;
      margin: 30px 0px;
    }
    ul {
      padding-left: 1.2rem;
    }
    ul li {
      margin-bottom: 0.75rem;
    }
    .cta {
      background-color: #2b4d2f;
      color: white;
      padding: 2rem 1.5rem;
      text-align: center;
      border-radius: 10px;
      margin: 1rem ;
      margin-top: 2.5rem;
    }
    .cta h2{
      padding-top: 30px;
      padding-bottom: 10px;
    }
    .cta button {
      background-color: #34a853;
      border: none;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 1rem;
      transition: background-color 0.3s ease;
      
    }
    .cta button:hover {
      background-color: #2a9448;
    }
    .team {
      background-color: #e9f8eb;
      padding: 2rem 1.5rem;
      border-radius: 10px;
      margin-top: 4rem;
      text-align: center;
    }
    .team p{
      text-align: left;
    }
    .team-members {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      justify-content: center;
      margin-top: 1rem;
      margin-top: 20px;
    }
    .team-members p{
      text-align: center;
    }
    .member {
      background: white;
      padding: 1rem;
      border-radius: 8px;
      width: 100%;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 20px;
    }
    .member .icon{
      background: #34a853;
      border-radius: 100px;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0px;
    }
    .member .icon svg{
      color: #fff;
    }
    .member h3 {
      margin: 0.5rem 0 0.25rem;
      font-size: 1.1rem;
    }
    .member p {
      font-size: 0.9rem;
      margin: 0;
      color: #4e674f;
    }
  footer {
  background-color: #2b4d2f;
  color: #ffffff;
  padding: 4rem 1.5rem 1rem;
  font-size: 0.95rem;
  
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1000px;
  margin: auto;
}

.footer-left h2 {
  margin-bottom: 0.5rem;
}

.footer-left p {
  margin-bottom: 1rem;
}

.socials a {
  color: #d0f0d7;
  margin-right: 1rem;
  display: inline-block;
  transition: color 0.3s ease;
  font-size: 25px;

}

.socials a:hover {
  color: #ffffff;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  margin-bottom: 0.5rem;
}

.footer-links ul li a {
  color: #d0f0d7;
  text-decoration: none;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}
.footer-contact{
  width: 100%;
}
.footer-contact p {
  margin: 0.3rem 0;
}

.newsletter-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.newsletter-form input[type="email"] {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  width: 70%;
  font-size: 17px;
  padding: 0.75rem 1.5rem;

}

.newsletter-form button {
  padding: 0.75rem 1.5rem;
  background-color: #34a853;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
}

.newsletter-form button:hover {
  background-color: #2a9448;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.85rem;
  color: #cde5d0;
}
/*
.socials{
  display: flex;
  padding: 0px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  color: #d0f0d7;
  margin-top: 10px;
}
.socials a i{
  font-size: 20px;
  color: #d0f0d7;

}
.socials a{
    color: #d0f0d7;
    text-decoration: none;
}
*/